<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <title>Modal</title>

    <style>
      .modal {
        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        display: none;

        background-color: rgba(0, 0, 0, 0.4);
      }

      .modal.show {
        display: block;
      }

      .modal_body {
        position: absolute;
        top: 50%;
        left: 50%;

        width: 400px;
        height: 600px;

        padding: 40px;

        text-align: center;

        background-color: rgb(255, 255, 255);
        border-radius: 10px;
        box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);

        transform: translateX(-50%) translateY(-50%);
      }
    </style>
  </head>
  <body>
    <div class="modal">
      <div class="modal_body">Modal</div>
    </div>
    <button class="btn-open-popup">Modal 띄우기</button>
    <div>
      <div>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet beatae consequuntur culpa delectus, doloremque earum error illum ipsum modi,
        nulla numquam obcaecati odio placeat reiciendis repellat sapiente sit velit voluptatibus!
      </div>
      <div>
        Eos eveniet facilis illum ipsa ipsum odit qui voluptatem! Amet animi asperiores, assumenda commodi ducimus esse eveniet, facere itaque laborum
        magni maxime optio porro quasi quisquam reprehenderit soluta suscipit. Sequi.
      </div>
      <div>
        Aliquam aut beatae, cum eos obcaecati sint tenetur veritatis? Animi at consequuntur corporis cumque dolores eius, et ipsa libero maxime modi
        quam quibusdam quod repudiandae, saepe sequi unde voluptas voluptate.
      </div>
      <div>
        Architecto aut expedita harum ipsam iusto molestias, odio odit quam sequi. Architecto asperiores assumenda cumque fugit itaque, maxime
        molestiae non numquam obcaecati odio odit officiis quae quas quibusdam, sequi tempora?
      </div>
      <div>
        Commodi dolorum pariatur sint ullam. Ad aliquam asperiores at aut consequuntur corporis dolorem doloremque est excepturi facilis, fuga ipsam
        mollitia nihil numquam ratione repellat saepe tempora ut vel veritatis voluptate!
      </div>
      <div>
        Blanditiis dolor earum fuga magni modi nemo ratione repudiandae rerum! Adipisci aspernatur atque impedit labore magnam odit rerum sapiente
        sequi. Assumenda ducimus ex hic officia quia rem ut voluptate, voluptates!
      </div>
      <div>
        Deserunt, nesciunt quo? Est mollitia quia soluta! Assumenda corporis cum cumque delectus deserunt, doloremque eius facere id iste laboriosam
        magnam, nobis pariatur recusandae repellat repellendus sunt vel velit, voluptate voluptatum.
      </div>
      <div>
        Atque blanditiis cum ipsum sequi! Accusantium at cum dolor dolorem eveniet exercitationem ipsum molestias suscipit temporibus voluptatem!
        Alias blanditiis deleniti dolores excepturi, illum ipsum magnam maxime molestiae sapiente veniam voluptatem.
      </div>
      <div>
        Aspernatur eaque ipsa iste quod? Architecto beatae mollitia, nam odio quibusdam soluta vero! Aliquam aliquid animi asperiores cupiditate
        dolore doloremque eos ex laboriosam, quam quibusdam quidem quos, rerum sed, sit.
      </div>
      <div>
        Dolores, ea ex explicabo iste magnam mollitia nemo nulla optio, porro, possimus rerum sint tempore veniam? A eos error, eum ipsa minus odio
        quod rem. Labore non placeat recusandae voluptatum.
      </div>
      <div>
        Debitis delectus minima officia perspiciatis placeat unde voluptatum! Eum laboriosam maiores nemo quo totam. Dolor harum hic, natus odit rerum
        similique voluptas voluptatibus? Ab accusantium culpa eveniet perspiciatis veritatis voluptas.
      </div>
      <div>
        A aperiam atque aut consequuntur cum dolorum ducimus, eius explicabo hic id in incidunt iste maiores maxime minus nisi possimus quibusdam,
        quidem quos ratione repellat repudiandae sequi totam veritatis vero!
      </div>
      <div>
        Consequatur deserunt distinctio eaque fugit ipsa iure labore odit perferendis veniam voluptatibus! At consectetur cumque dolorem maiores
        nihil, praesentium quis quisquam repellat saepe veniam? Blanditiis eligendi et illum minus nemo!
      </div>
      <div>
        Animi aspernatur dicta doloremque, ea eligendi explicabo in inventore mollitia natus officia omnis repellat sunt voluptate. Ab at ducimus,
        error id, itaque quia quos soluta vero vitae voluptas voluptatem voluptatibus.
      </div>
      <div>
        Accusantium alias animi aperiam architecto at delectus deserunt excepturi, facilis fuga, ipsam, iure laudantium neque quam quo tempora
        veritatis vero! Accusamus dolor eius incidunt inventore nam possimus suscipit vero voluptatum!
      </div>
      <div>
        Aliquid atque corporis debitis distinctio, dolor doloremque eveniet fugit harum ipsum magni maiores necessitatibus nulla numquam provident
        quas quia repellendus repudiandae rerum sint sit soluta ut velit voluptas voluptates voluptatibus.
      </div>
      <div>
        At commodi deleniti dolor est, fugiat illum, maxime nam, nulla placeat porro quaerat quas quo reprehenderit sapiente similique sit temporibus
        veritatis voluptatem voluptates voluptatibus. Ad aut consequatur consequuntur deserunt sapiente.
      </div>
      <div>
        Accusantium, assumenda consectetur debitis dignissimos excepturi ipsa maiores natus nostrum recusandae soluta! Architecto distinctio eaque
        enim et iure nam nobis quaerat quod recusandae repellat rerum saepe tenetur unde ut, veniam?
      </div>
      <div>
        A amet asperiores assumenda consequatur eius eos eum ex exercitationem facilis inventore iure modi necessitatibus numquam obcaecati
        praesentium quas quia quo quos recusandae rem repudiandae sequi tenetur vel, voluptas voluptates.
      </div>
      <div>
        A aperiam at, aut dignissimos doloribus dolorum ea et fuga, harum laudantium maiores quae quaerat sapiente similique sunt ullam unde,
        voluptatem! Asperiores assumenda dolore et explicabo fuga laborum rerum voluptatum!
      </div>
      <div>
        Ad adipisci aperiam at aut consequuntur, dicta distinctio doloribus enim eveniet fuga harum incidunt labore maiores minima, molestias optio
        quas quia quibusdam ratione repellat reprehenderit, rerum sit ullam vero voluptatibus?
      </div>
      <div>
        Aliquid atque autem corporis deleniti distinctio, doloremque eum facere hic inventore, magnam maiores mollitia nihil nisi nobis omnis pariatur
        praesentium quas qui repudiandae similique sunt suscipit temporibus ullam velit vero.
      </div>
      <div>
        A, aspernatur at commodi culpa delectus dolore dolores ex ipsam ipsum labore laborum maiores necessitatibus porro possimus quis repudiandae
        similique sunt ullam! Dignissimos dolorem doloribus ducimus exercitationem incidunt repellat, vitae?
      </div>
      <div>
        Adipisci, alias animi assumenda aut beatae consectetur corporis culpa, cum delectus dicta dolore doloremque impedit ipsam molestiae natus
        necessitatibus nesciunt non porro quas recusandae reiciendis sequi sint soluta, unde vel!
      </div>
      <div>
        Assumenda, aut consequatur delectus dolores eius facere inventore ipsum labore molestias pariatur, perferendis porro qui ratione repellat
        soluta tempore totam. A adipisci architecto consequatur cupiditate eligendi magnam minima, tempora totam?
      </div>
      <div>
        Accusamus blanditiis, consequuntur earum eveniet ipsum nostrum officiis quasi qui, quibusdam reprehenderit tempore veniam? Consequatur culpa
        delectus distinctio ducimus eos exercitationem explicabo, hic laborum quasi, ratione repellendus similique sit voluptates?
      </div>
      <div>
        Ad alias aspernatur commodi dignissimos dolor dolorem, doloremque, eveniet excepturi fugiat fugit incidunt ipsa ipsam iusto libero maiores
        minima modi necessitatibus officia officiis, quaerat sunt tempore totam unde velit veniam.
      </div>
      <div>
        Exercitationem expedita nemo nobis odio praesentium quibusdam quis similique voluptate? Culpa cum dolor dolorum ex, facilis fuga libero minima
        minus officia omnis perspiciatis porro quidem recusandae unde ut? Non, voluptate.
      </div>
      <div>
        Aliquam architecto assumenda atque blanditiis deleniti dolor eius id in ipsa ipsam libero magnam magni maiores, natus, officia optio quas
        quasi repudiandae saepe sapiente similique velit veniam? Accusantium, fugiat saepe!
      </div>
      <div>
        A, animi cumque dignissimos dolorum, facilis incidunt ipsa labore minus natus nemo nisi nobis officia optio porro ratione unde vero. Commodi
        expedita hic natus obcaecati quasi. Dicta libero quos vero?
      </div>
      <div>
        Accusamus amet aperiam architecto commodi consectetur dicta, dignissimos distinctio ducimus eaque eius esse est ex facilis fugiat, incidunt
        modi mollitia necessitatibus nemo possimus quidem reiciendis sed tempore temporibus tenetur vitae.
      </div>
      <div>
        Ipsum modi quo sequi! Ad alias asperiores aspernatur autem beatae consequuntur dolore, nam natus nostrum officiis optio perferendis placeat
        praesentium quia quos repudiandae sed sunt tempora temporibus, totam ullam voluptate.
      </div>
      <div>
        Ab aliquid, asperiores at corporis culpa cumque earum est et, illo incidunt magnam magni mollitia nam, nemo nobis quibusdam quis quo ratione
        rem rerum sed sequi similique totam ut voluptatum?
      </div>
      <div>
        Consequatur doloremque porro quia repudiandae sint! Adipisci aliquid corporis deleniti dignissimos distinctio dolores doloribus esse maiores
        molestias nesciunt quaerat quidem sint sit, tempora voluptatem! Ab commodi doloribus odit quaerat quasi!
      </div>
      <div>
        Accusantium alias, architecto asperiores blanditiis consectetur dignissimos dolorem eveniet explicabo incidunt, inventore iste iure iusto
        maiores natus odit optio perferendis reiciendis, sint vero vitae. Asperiores ea ipsum natus. Assumenda, consequatur.
      </div>
      <div>
        Amet consequatur culpa dicta, enim facere fugiat harum impedit in ipsum maxime nostrum quam sed voluptas. A aperiam nam nemo recusandae?
        Dolorem possimus quidem voluptatem. Harum itaque laudantium perferendis tempora!
      </div>
      <div>
        A, accusantium alias aliquid asperiores aspernatur consectetur culpa dolore facere hic incidunt, ipsum laudantium minima natus nemo numquam
        odio perferendis provident quasi quia quod sed soluta totam ut, vel voluptate.
      </div>
      <div>
        Amet architecto aspernatur at, beatae consectetur consequatur dolore dolorem dolores ducimus esse facere fugiat incidunt libero minus modi,
        nostrum officiis porro quaerat quam quas qui repellat sed suscipit tempore voluptate.
      </div>
      <div>
        Beatae eaque laborum similique vitae? Adipisci, aliquid beatae, consequatur corporis ex fugit labore laboriosam nihil perspiciatis quod quos
        sint vitae. Cumque ipsa itaque, natus quam reiciendis tempora temporibus tenetur velit.
      </div>
      <div>
        Delectus dicta dolore esse excepturi fugit, harum incidunt ipsum maiores molestias quis quo, sed! Accusamus adipisci aperiam beatae, commodi
        consectetur doloremque exercitationem facere id inventore ipsam ipsum nihil, perferendis sequi.
      </div>
      <div>
        Adipisci delectus dicta dolorem, doloremque eaque, esse et fuga iure laborum nobis, nulla odio quaerat quia quidem rerum sapiente voluptate
        voluptatem. Accusamus ea modi nisi quo reprehenderit sint sit tempore!
      </div>
      <div>
        Accusantium ad alias culpa distinctio doloremque doloribus enim esse ipsam laboriosam laudantium mollitia nemo obcaecati officiis, placeat
        quae quasi qui quisquam quo quod recusandae rem similique soluta unde vel, veniam!
      </div>
      <div>
        Atque modi molestiae mollitia necessitatibus nemo nisi nostrum obcaecati, optio repudiandae ullam. Accusantium asperiores autem delectus
        dolores ducimus et, ex, facilis fuga hic impedit molestiae neque officiis tenetur veritatis, voluptate.
      </div>
      <div>
        Aliquid beatae dolor ducimus, eum hic, illum in laborum libero neque non omnis quam sunt, suscipit totam velit? Consequuntur dicta dolore
        eaque eligendi ipsum pariatur porro, qui repellat saepe totam!
      </div>
      <div>
        Ab animi, esse explicabo facere fuga fugiat ipsum nihil perspiciatis quae ut. At commodi error illum inventore maiores nulla odit officiis
        quas vel vero. Aliquid explicabo odio qui veritatis voluptatem?
      </div>
      <div>
        Beatae ducimus ea error ex id illo illum ipsum maiores minus nemo nihil nulla odio optio quam quibusdam quisquam, ratione reiciendis
        reprehenderit sit, temporibus vel velit vero. Beatae, deleniti molestiae.
      </div>
      <div>
        Ab aliquam blanditiis, consequatur cumque expedita incidunt iusto nostrum praesentium quaerat rerum temporibus totam velit vitae. A aut,
        cumque ea eveniet hic ipsum, minima molestiae, odit provident quod sint veniam.
      </div>
      <div>
        Aliquam at beatae doloribus facilis fugit, in odit quaerat repudiandae, sit suscipit, tempora ullam voluptate. Eos est eveniet fugiat minima
        obcaecati odio perspiciatis quam quia recusandae rerum? Modi, ut voluptate.
      </div>
      <div>
        Cumque eaque illum quis? Aliquid aspernatur atque debitis deleniti dolore dolores eligendi illo iste quas repellat. At aut ducimus eius
        exercitationem, ipsam laboriosam, necessitatibus quaerat quas qui recusandae rerum voluptatum.
      </div>
      <div>
        Consequuntur deleniti facilis nisi quia. Accusantium adipisci animi atque blanditiis corporis ducimus earum, facilis fugiat iusto maiores
        mollitia nisi nobis officia quas quasi qui quia, ratione sint, voluptas voluptates voluptatibus!
      </div>
    </div>
    <script>
      const body = document.querySelector('body');
      const modal = document.querySelector('.modal');
      const btnOpenPopup = document.querySelector('.btn-open-popup');

      btnOpenPopup.addEventListener('click', () => {
        modal.classList.toggle('show');

        if (modal.classList.contains('show')) {
          body.style.overflow = 'hidden';
        }
      });

      modal.addEventListener('click', (event) => {
        if (event.target === modal) {
          modal.classList.toggle('show');

          if (!modal.classList.contains('show')) {
            body.style.overflow = 'auto';
          }
        }
      });
    </script>
  </body>
</html>
