<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>동국대 입학처 모의 페이지</title>
    <!-- 챗봇과 웹페이지 연동-->
    <!-- 230513 다이얼로그 플로우 제외
    <script src="https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1"></script>
    <df-messenger
            intent="WELCOME"
            chat-title="Akobot2"
            agent-id="bfc2391f-c5e0-48dd-bb9a-36fe1fc66fc9"
            chat-icon="img/icon_img.png"
            language-code="ko"
    ></df-messenger>
    -->
</head>
<body>
    동국대 입학처 적용 예시 페이시
    <div>
        <img src="img/dongguk_ipsi.png">

    </div>
</body>
</html>