<!DOCTYPE html>
<html lang="en" xmlns:th= "http://www.thymeleaf.org">
<head th:replace="common_codes/fragments.html:: fragment-header(title='Akobot Management system')"></head>
<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <th:block th:replace="~{common_codes/sidebar.html}"></th:block>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <th:block th:replace="~{common_codes/topbar.html}"></th:block>
            <!-- End of Topbar -->

            <form method="post" name="updateForm" action="/updateDB">
            <div class = "card-body">
                <th:block th:replace="~{DB/showDB.html}"></th:block>
                <div class="form-group">
                    <label>DB 수정</label>
                    <textarea class="form-control" name="Answer" rows="15" cols="100" id="Answer" style="width:100%;" placeholder="수정 내용 입력"></textarea></div>
                <button type="submit" id="submit" class="btn btn-outline-primary">수정</button>
                <button type="reset" class="btn btn-outline-secondary">리셋</button>
                <button type="button" class="btn btn-outline-success"><a style="text-decoration:none" href="/solve">취소</a></button>
            </div>
            </form>

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <th:block th:replace="~{common_codes/footer.html}"></th:block>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<th:block th:replace="~{common_codes/logout_modal.html}"></th:block>

<!-- footer를 그대로 inlcude-->
<footer th:replace="common_codes/fragments.html :: footer"></footer>

</body>

</html>