<!--공통된 topbar - 로그인 관련부 -->
<!DOCTYPE html>
<!-- Topbar -->
<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow" id="topNav">

    <!-- Sidebar Toggle (Topbar) -->
    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
        <i class="fa fa-bars"></i>
    </button>

    <script>
        <!--important tag는 function 으로 change-->
        function changeDark(){
            let x=document.querySelectorAll('#topNav');
            x[0].setAttribute('style','background-color: black !important');
        }
        function changeLight(){
            let x=document.querySelectorAll('#topNav');
            x[0].setAttribute('style','background-color: #fff !important');
        }
    </script>

    <!-- Topbar Navbar -->
    <ul class="navbar-nav ml-auto">
        <!--dark mode toggle -->
        <input id="changeDark" type="button" value="Dark" onclick="
        if(document.querySelector('#changeDark').value === 'Dark'){ // 지금 상태가 light 모드 , Dark로 바꾸려면
            changeDark();
            document.querySelector('#content').style.background='#232324';
            document.querySelector('#content').style.color='white';
            document.querySelector('#accordionSidebar').style.background='#323234';
            document.querySelector('#changeDark').value='Light';
        }else{
            changeLight();
            document.querySelector('#content').style.background='white';
            document.querySelector('#content').style.color='black';
            document.querySelector('#accordionSidebar').style.background='#4e73df';
            document.querySelector('#changeDark').value='Dark';
        }
        ">
        <!-- Nav Item - User Information -->
        <!-- TODO 차후 유저에 맞게 변화될 수 있도록 0503-->
        <li class="nav-item dropdown no-arrow">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <!--span class="mr-2 d-none d-lg-inline text-gray-600 small">Douglas McGee</span-->
                <img class="img-profile rounded-square"
                     src="img/Calen.png" hspace = 30>
                <img class="img-profile rounded-circle"
                     src="img/Person.png">
            </a>
            <!-- Dropdown - User Information -->
            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                 aria-labelledby="userDropdown">
                <!--div class="dropdown-divider"></div-->
                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                    로그아웃
                </a>
            </div>
        </li>
    </ul>
</nav>

<!-- End of Topbar -->