<!DOCTYPE html>
<html lang="en" xmlns:th= "http://www.thymeleaf.org">
<head th:replace="common_codes/fragments.html:: fragment-header(title='Akobot Management system')"></head>
<body id="page-top">
<!-- Page Wrapper -->
<div id="wrapper">
    <!-- Sidebar -->
    <th:block th:replace="~{common_codes/sidebar.html}"></th:block>
    <!-- End of Sidebar -->


    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div-- id="content">

            <!-- Topbar -->
            <th:block th:replace="~{common_codes/topbar.html}"></th:block>
            <!-- End of Topbar -->

            <div class="container-fluid">

                <!--Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800">챗봇 미해결 질문 답변 방법</h1>
                </div>
            </div>

            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">How to Answer?</h6>
                </div>
                <div class="card-body">
                    <div class = "content" style="text-align : left;">
                        <p>1. 왼쪽 메뉴바에서 '질문게시판' 항목을 클릭하세요<br>
                        <img src = "img/how_a_1.png"></p>
                        <p>2. 해결하고자 하는 질문을 클릭하세요<br>
                        <img src = "img/how_a_2.png"></p>
                        <p>3. 전송할 이메일 주소를 입력하고 답변을 입력한 후 전송 버튼을 누르면 답변이 끝납니다<br>
                            <img src = "img/emailing.png"></p>
                        <button type="button" class="btn btn-outline-primary" onClick ="location.href='how_notice_question'">질문 확인 방법</button>
                        <button type="button" class="btn btn-outline-primary" onClick ="location.href='how_mangeDB'">챗봇 데이터베이스 업데이트 방법</button>
                    </div>
                </div>
            </div>

            <!-- Footer -->
            <th:block th:replace="~{common_codes/footer.html}"></th:block>
            <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<th:block th:replace="~{common_codes/logout_modal.html}"></th:block>

<!-- footer를 그대로 inlcude-->
<footer th:replace="common_codes/fragments.html :: footer"></footer>
</div>
</body>

</html>