<!DOCTYPE html>
<html lang="en" xmlns:th= "http://www.thymeleaf.org">
<head th:replace="common_codes/fragments.html:: fragment-header(title='Akobot Management system')"></head>
<body id="page-top">
<!-- Page Wrapper -->
<div id="wrapper">
    <!-- Sidebar -->
    <th:block th:replace="~{common_codes/sidebar.html}"></th:block>
    <!-- End of Sidebar -->


    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div-- id="content">

            <!-- Topbar -->
            <th:block th:replace="~{common_codes/topbar.html}"></th:block>
            <!-- End of Topbar -->

            <div class="container-fluid">

                <!--Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800">챗봇 데이터베이스 업데이트 방법</h1>
                </div>
            </div>

            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">How to Update Chatbot Database?</h6>
                </div>
                <div class="card-body">
                    <div class = "content" style="text-align : left;">
                        <p>1. 왼쪽 메뉴바에서 '해결 질문 게시판 - DB수정' 항목을 클릭하세요<br>
                            <img src = "img/h_md_1.JPG"></p>
                        <p>2. 나열된 미해결 질문 목록을 통해, 질문들을 확인할 수 있습니다<br>
                            <img src = "img/h_md_2.JPG"></p>
                        <p>3. 업데이트 하고자 하는 저장 위치를 선택하고, 업데이트 하고자 하는 내용을 입력해주세요.<br>
                            <img src = "img/h_md_3.JPG"></p>
                        <p>4. 수정을 누르면 챗봇이 해당 내용을 학습하고, 업데이트 됩니다.<br>
                            <img src = "img/h_md_4.JPG"></p>
                        <button type="button" class="btn btn-outline-primary" onClick ="location.href='how_answer'">답변하는 방법</button>
                        <button type="button" class="btn btn-outline-primary" onClick ="location.href='how_notice_question'">질문 확인 방법</button>
                    </div>
                </div>
            </div>

            <!-- Footer -->
            <th:block th:replace="~{common_codes/footer.html}"></th:block>
            <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<th:block th:replace="~{common_codes/logout_modal.html}"></th:block>

<!-- footer를 그대로 inlcude-->
<footer th:replace="common_codes/fragments.html :: footer"></footer>
</div>
</body>

</html>