<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
        crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>

<div class="card shadow mb-4">
    <div class="card-body" >
        <h3>답변 이메일 보내기</h3>
        <form method="post" id="mailForm" action="/mailService">
            <div class="form-group">
                <input type="hidden" class="form-control" name="bno" th:value="${result.bno}">
                <label>고객 이메일</label>
                <input type="text" id="userEmail" class="form-control" name="userEmail" th:value="${result.email}">
            </div>
            <div class="form-group">
                <label>이메일 제목</label>
                <input type="text" id="title" class="form-control" name="title"
                       placeholder="안녕하세요 동국대 아코봇 관리팀입니다.">
                <div id="reply_title_cnt">(0 / 255 bytes)</div>
            </div>
            <div class="form-group">
                <label>이메일 내용</label>
                <textarea wrap="off" id="limit_text" name="message" class="form-control" cols="50" rows="10" style="width:100%;"
                          placeholder="내용입력"></textarea></div>
            <!--<div class="form-group">
                <label>파일 첨부</label><br/>
                 <input type="file" name="attachment">
            </div>-->

            <button type="submit" id="submit" class="btn btn-outline-primary">전송</button>
            <button type="reset" class="btn btn-outline-secondary">리셋</button>
            <button type="button" class="btn btn-outline-success"><a style="text-decoration:none" href="/tables">취소</a>
            </button>
            <br/>
        </form>
    </div>
</div>

<script src="js/Mail/limit-textarea-mail.js"></script>
<script src="js/Mail/MailFormAlert.js"></script>
