<!-- TODO 가영님 코드 여기다가 옮겨 주세요-->
<div class="treeview-animated w-20 border mx-4 my-4">
    <h6 class="pt-3 pl-3">저장 위치 선정</h6>
    <hr>
    <ul class="treeview-animated-list mb-3">
        <li class="treeview-animated-items">
            <a class="closed" id="competition">
                <i class="fas fa-angle-right"></i>
                <span>competition</span>
            </a>
            <ul class="nested">
                <li>
                    <div class="treeview-animated-element" id="competition_rate"><input type="radio" name="radio_input" value="competition_rate"> rate
                </li>
            </ul>
        </li>

        <li class="treeview-animated-items">
            <a class="closed" id="jungsi">
                <i class="fas fa-angle-right"></i>
                <span>jungsi</span>
            </a>
            <ul class="nested" >
                <li>
                    <div class="treeview-animated-element" id="jungsi_basic"><input type="radio" name="radio_input" value="jungsi_basic"> basic
                </li>
                <li>
                    <div class="treeview-animated-element" id="jungsi_farming"><input type="radio" name="radio_input" value="jungsi_farming"> farming
                </li>
                <li>
                    <div class="treeview-animated-element" id="jungsi_incumbent"><input type="radio" name="radio_input" value="jungsi_incumbent"> incumbent
                </li>
                <li>
                    <div class="treeview-animated-element" id="jungsi_normal"><input type="radio" name="radio_input" value="jungsi_normal"> normal
                </li>
                <li>
                    <div class="treeview-animated-element" id="jungsi_specialized"><input type="radio" name="radio_input" value="jungsi_specialized"> specialized
                </li>
            </ul>
        </li>

        <li class="treeview-animated-items">
            <a class="closed" id="closed">
                <i class="fas fa-angle-right"></i>
                <span>recruit</span>
            </a>
            <ul class="nested">
                <li>
                    <div class="treeview-animated-element" id="recruit_num"><input type="radio" name="radio_input" value="recruit_num"> num
                </li>
            </ul>
        </li>

        <li class="treeview-animated-items">
            <a class="closed" id="schedule">
                <i class="fas fa-angle-right"></i>
                <span>schedule</span>
            </a>
            <ul class="nested">
                <li>
                    <div class="treeview-animated-element" id="schedule_foreigner"><input type="radio" name="radio_input" value="schedule_foreigner"> foreigner
                </li>
                <li>
                    <div class="treeview-animated-element" id="schedule_jungsi"><input type="radio" name="radio_input" value="schedule_jungsi"> jungsi
                </li>
                <li>
                    <div class="treeview-animated-element" id="schedule_susi"><input type="radio" name="radio_input" value="schedule_susi"> susi
                </li>
            </ul>
        </li>
    </ul>
</div>